---
http:
  routers:
    rt-traefik:
      entryPoints:
      - websecure
      middlewares:
      - authentification
      service: api@internal
      rule: Host (`traefik.czs.local`)
      tls:
        certResolver: letsencrypt

    rt-matomo:
      entryPoints:
      - websecure
      middlewares:
      - security
      service: sc-matomo
      rule: Host (`matomo.czs.local`)
      tls:
        options: default
        certResolver: letsencrypt
